<section class="space-y-6">

  <header>
    <h1 class="text-2xl font-black uppercase italic">
      Settings
    </h1>
  </header>

  <div class="space-y-4">

    <button
      class="pixel-card w-full text-left"
      data-action="save">
      Save Game
    </button>

    <button
      class="pixel-card w-full text-left"
      data-action="reset">
      Reset Game
    </button>

    <button
      class="pixel-card w-full text-left"
      data-action="forceUpdate">
      Force Update
    </button>

  </div>

</section>
